/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body{
    font-family: 'Fredoka', sans-serif;
}


/* TYPOGRAPHY */

.container{
    max-width: 1150px;
    margin:auto;
    margin-top: 50px;
}

section {
    text-align: center;
    margin: 40px;
}

a{
    color: #6fc8eb;
    text-decoration: none;
}

/* MAIN */
h1{
    color: #E53170;
    margin-bottom: 30px;
}

section:last-child {
    margin-bottom: 30px;
}

.col-team {
    width: calc(33% - 30px);
    background-color: #0f0e17;
    color: white;
    float: left;
    margin: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 15px;
}

img {
    float: left;
    width: 100px;
    padding-right: 1px;
    margin-right: 20px;
}

.info{
    padding: 15px;
    vertical-align: middle;
}

